{% extends 'base.html.twig' %}
{% form_theme formFigure 'bootstrap_4_layout.html.twig' %}

{% block body %}


<h1 class="d-flex justify-content-end"> Création d'une figure </h1>

<div class="container col-lg-8">


{{ form(formFigure) }}


 </div>
 





{% endblock %}